<app-spinner [visible]='spinnerVisibility'></app-spinner>
<app-stepbar [showResults]='showResults' [showDictionary]='showDictionary' [showProgressbar]='showProgressbar'
  [showSearch]='showSearch' (anagramsChange)='setAnagramsResults($event)'></app-stepbar>
<div class="app__container">
  <app-search [showSearch]='showSearch' (anagramsChange)='setAnagramsResults($event)'></app-search>
  <ng-template [ngIf]="showResults">
    <app-results [anagrams]='anagrams' [showProgressbar]='showProgressbar' [showContinue]='showContinue'
      (anagramsChange)='setAnagramsResults($event)'>
    </app-results>
  </ng-template>
  <ng-template [ngIf]="showDictionary">
    <app-dictionary [words]='words'></app-dictionary>
  </ng-template>
</div>
