<app-spinner [visible]='spinnerVisibility'></app-spinner>
<div class="app__container">
  <app-search [anagrams]='anagrams' (anagramsChange)='setAnagramsResults($event)'></app-search>
  <ng-template [ngIf]="showResults">
    <app-results [errorMessage]='errorMessage' [anagrams]='anagrams'></app-results>
  </ng-template>
  <ng-template [ngIf]="showDictionary">
    <app-dictionary></app-dictionary>
  </ng-template>
  <ng-template [ngIf]="showError">
    <app-error [errorMessage]='errorMessage'></app-error>
  </ng-template>
</div>
