.results__result-container {
  width: 100%;
  margin-top: 40px;

  .results__title {
    width: 80%;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px 10% 20px 10%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  }

  .results__result-list {
    width: 80%;
    margin: auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

.results__pagination-controll-container {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.results__error-container {
  width: 100%;
  margin-top: 40px;

  .results__error-text {
    width: 80%;
    margin: auto;
  }
}
