@import './../../../variables.scss';

.results__results-text {
  width: 80%;
  margin: auto;
  font-size: 1.6em;
  margin-top: 50px;
  margin-bottom: 60px;
}

.results__result-container {
  width: 100%;
  margin-top: 30px;

  .results__bar {
    margin: 0px 10% 20px 10%;
    text-align: center;
    width: calc(100% - 20%);

    button {
      text-transform: capitalize;
    }
  }

  .results__result-list {
    width: 80%;
    margin: auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

.results__pagination-controll-container {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.results__error-container {
  width: 100%;
  margin-top: 40px;
  font-size: 1.6em;
  text-align: center;

  .results__error-text {
    width: 80%;
    margin: auto;
  }
}

.results__progressbar-container {
  margin-top: 60px;

  .results__progressbar-header {
    width: 80%;
    margin: auto;
    font-size: 1.6em;
    padding-bottom: 20px;
  }

  .results__progressbar-title{
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    padding: 10px 0px 5px 5px;
  }

  .results__progressbar-body {
    width: 80%;
    margin: auto;
  }

  .results__processor-text {
    width: 80%;
    margin: 60px auto auto auto;
    font-size: 2em;
    padding: 0px 0px 5px 5px;
    text-align: center;
  }
}

.results__continue-button {
  width: 100%;
  margin-top: 50px;
  text-align: center;

  button {
    min-width: 170px;
    margin: 0px 20px;
  }
}
