<div class="searchbox__container">
  <div class="searchbox__input-container">
    <input id="word-input" [(ngModel)]="word" type="text" class="form-control" />
  </div>
  <div class="searchbox__button-container">
    <button type="button" class="btn btn-primary btn-lg searchbox__button" (click)="getAnagrams()">Anagrams</button>
    <button type="button" class="btn btn-secondary btn-lg searchbox__button" (click)="clear()">Reset</button>
  </div>
  <div class="searchbox__result-container">
    <div class="searchbox__result-list">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let anagram of anagrams">
          {{ anagram }}
        </li>
      </ul>
    </div>
  </div>
</div>
<app-spinner [spinnerVisibility]='spinnerVisibility'></app-spinner>
