<div class='search__container' [ngClass]="showSearch ? 'search__container--visible':'search__container--hidden'"
  search__container>
  <div class="search__title">{{title}}</div>
  <div class="search__input-container">
    <input id="word-input" [(ngModel)]="word" type="text" class="form-control" [ngClass]="isInvalid ? 'is-invalid' : ''"
      (ngModelChange)="onSearchChange($event)" />
    <div class="invalid-feedback search__invalid-feedback">
      {{invalidMessage}}
    </div>
  </div>
  <div class='search__button-container'>
    <button type="button" class="btn btn-primary search__button" [ngClass]="isInvalid ? 'disabled' : ''"
      (click)="getAnagrams()">Anagrams</button>
    <button type="button" class="btn btn-secondary search__button" (click)="clear()">Reset</button>
  </div>
</div>
