.search__container {
  padding: 30px;
  width: 100%;
  background-color: rgba(1, 1, 1, 0);

  &--hidden{
    display: none;
  }

  .search__title {
    width: 100%;
    font-family: 'Unkempt', cursive;
    font-size: 5em;
    text-align: center;
  }

  .search__input-container {
    width: 50%;
    margin: auto;
    max-width: 800px;
    min-width: 400px;

  }

  .search__button-container {
    width: 50%;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-width: 350px;
    max-width: 600px;
    margin: 15px auto;

    .search__button {
      min-width: 120px;
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: 0.3rem;
    }
  }
}
